{% extends 'cal/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<style>
.calendar {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  font-size: 13px;
}

.calendar td {
  width: calc(100% / 7);
  height: calc(100vh / 6);
  padding: 20px 0px 0px 5px;
}
</style>

<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
    <a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Event </a>
</div>

{{ calendar }}
{% endblock %}
